<div class = "genre-edit-box">
<h3 class = "show">ジャンル編集</h3>
<%= form_with model: @genre, url: genre_path, local: true do |f| %>
<table>
<tbody>
<tr>
<th>
業種名
</th>
<td>
<%= f.text_field :name %>
</td>
<td>
<input class="btn btn-success" type="submit" value="変更を保存">
</td>
</tr>
</tbody>
</table>
<% end %>

</div>