<body id = "signup">

<%= form_with model: @user, url: user_session_path do |f| %>
<div class = "login-box">
<p>ログイン</p>
<div class = "field">
<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス' %></br>
</div>

<div class = "field">
<%= f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード' %></br>
</div>

<div class = "login-button">
<input class="btn btn-primary" type="submit" style="width:220px" value="ログイン">
</div>
</div>
<% end %>


</div>
</body>