<h2>本当にに退会しますか？</h2>
<p>退会後は他ユーザーの投稿は閲覧可能のままですが、</br>
自身での投稿はできなくなります。</br>
退会する場合は、「退会する」をクリックしてください。</p>

<%= link_to '退会する', user_path(current_user.id), method: :delete, "data-confirm"=>"本当に退会しますか？" %>
<%= link_to 'キャンセル',user_path(current_user.id) %>