<p>ユーザー情報</p>
<%= render 'experiences/user_information' %>

<h3>検索結果</h3>
<%= render 'experiences/sort', experience: @experience %>

<%= render 'experiences/sort_result', experiences: @experiences %>


