// Place all the styles related to the experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

#experience{
  width: 100%;
  height: 100%;
  background-color: rgba(192, 192, 192, 0.5);
}

.experience-box{
  margin: 0 200px;
  padding: 50px;
}

.experience-box2{
  margin: 0 300px;
  padding: 50px;
}

.experience-list{
  margin: 20px 70px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.3);
  font-family: sans-serif;
}

.show{
  margin: 20px 70px;
  padding: 20px;
}

.post-button{
  padding: 30px;
  text-align: center;
}

.genre-search{
  display:flex;
  flex-flow: column;
}

.col-lg-4{
  margin: 20px 0;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 10px;
}

.col-3{
  margin: 40px 0;
}

.comment-box{
  border-top: 1px solid;
  margin: 0 400px;
  padding: 50px;
}

.experience-table{
  margin-left: 70px;
}

.experience-table tbody{
  border-bottom: 1px solid;
}

.sort-box{
  margin-left: 70px;
}

.company-search{
  background-color: #CCCCCC;
}

.error{
  color: red;
  margin: 10px auto;
}

.check{
  color: red;
  margin-left : 450px;
}

.check-mark:after{
  content: " *";
  color : red;
}

ul{
  list-style: none;
}

.search-form{
  margin-left: 30px;
}

@media screen and (max-width: 1024px) {
  #experience{
    width: 105%;
  }
  .experience-box{
    margin: 10px 100px;
  }
  .comment-box{
    margin: 0 250px;
    padding: 50px;
  }
  .experience-box2{
    margin: 0 100px;
  }

}

@media screen and (max-width: 768px) {
  .show{
    margin: 20px;
  }
  .experience-box{
    margin: 0px 10px;
  }
  .experience-box2{
    margin: 0 80px;
    padding: 50px;
  }
  .comment-box{
    margin: 0 100px;
    padding: 50px;
  }
  .experience-table{
    margin-left: 70px;
    width: 700px;
    margin-left: 0px;
  }
  .experience-list{
    margin: 0px;
    width: 700px;
}
}
 @media screen and (max-width: 425px) {
   #experience{
    width: 100%;
  }
  .experience-box{
    margin: 0px;
    margin-left: 30px;
    padding: 0px;
  }
  .mx-auto{
    margin: 0px;
  }
  .check{
    margin-left: 390px;
  }
  .post-button{
    padding: 30px;
    margin-left: 40px;
  }
  .experience-box2{
    margin: 0 50px;
    padding: 50px;
    width: 100%;
  }
  .comment-box{
    margin: 0 80px;
    padding: 40px;
    width: 90%;
  }
  .col-lg-4{
    border: none;
    margin-left: 80px;
  }
}
 @media screen and (max-width: 375px) {
  #experience{
    width: 110%;
  }
  .check{
    margin-left: 370px;
  }
  .comment-box{
    margin: 0px;
    margin-left: 100px;
    padding: 40px;
    width: 90%;
  }
  .post-button{
    margin-left: 20px;
  }
}
@media screen and (max-width: 320px) {
  #experience{
    width: 115%;
  }
  .check{
    margin-left: 330px;
  }
  .post-button{
    margin-left: 30px;
  }
}