// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table th {
  padding: 10px 10px;
}

table td {
  padding: 10px 10px;
}

.genre-box{
  margin: 20px auto 10px;
}

.genre-table{
  margin: 20px auto 10px;
  width: 50%;
}

.genre-edit-box{
  height: 500px;
  margin-left: 300px;
}
@media screen and (max-width: 848px) {
  .genre-edit-box{
    margin-left: 150px;
  }
  .genre-table{
   width: 100vw;
  }
}
@media screen and (max-width: 700px){
  .genre-edit-box{
  width: 100vw;
  height: 100vh;
  margin-left: 50px;
 }
  
}
@media screen and (max-width: 425px){
 .genre-box{
  margin: 0px;
  width: 100vw;
 }

 .genre-table{
  margin: 0px;
  width: 100vw;
 }

}

@media screen and (max-width: 380px){
  .genre-table tr td{
  display: block;
 }
}