// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

#top{
  background-image: image-url("fujiko0822.jpg.webp");
  background-size: cover;
}

.text-box{
  padding: 20px;
  text-shadow:1px 1px 3px #000000;
  background-color: rgba(46, 46, 46, 0.5);

}

.button-box{
  padding: 10px;
  text-shadow: 1px 1px 3px #000000;
  background-color: rgba(46, 46, 46, 0.5);
}

  @media screen and (max-width: 2560px){
    main {
     height: 0px;
    }
    .top-box{
     width: 500px;
     height: 350px;
     margin: 30px auto;
    }
    
    .button-box{
      margin: 30px auto;
    }
}
  @media screen and (max-width: 768px) {
    #top {
     background-color: #CCCCCC;
     background-image: none;
    }
    .top-box{
     width: 100vw;
     height: 100vh;
     margin-top: 20px;
   }
}



