// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.unsubscribe-box{
  width: 100%;
  height: 430px;
  margin: 70px auto;
  text-align: center;
}

.unsubscribe-botton{
  padding: 20px;
}


.col-4{
  padding: 10px;
}

.edit-user{
  margin: 10px auto;
}

.user-button{
  padding: 30px;
  text-align: center;
}