// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.unsubscribe-box{
  width: 100%;
  height: 350px;
  margin: 70px auto;
  padding: 50px;
  text-align: center;
}

.unsubscribe-button{
  padding: 20px;
}


.col-4{
  padding: 10px;
}

.edit-user{
  margin: 10px auto;
}

.user-button{
  padding: 20px;
  text-align: center;
}

.user-table{
  border: 1px solid;
  margin :20px auto;
  width: 680px;
}

.user-table th{
  border: 1px solid;
  background-color: #CCCCCC;
  width: 140px;
}

.user-table tr{
  border: 1px solid;
}

.list-table{
  border: 1px solid;
  margin :20px 335px;
}


.list-table thead{
  background-color: #CCCCCC;
}

.user-show{
   margin: 20px 310px;
   padding: 20px;
}

.list-table tr{
  padding: 10px;
  border: 1px solid;
}

.list-table th{
  padding: 10px;
  border: 1px solid;
}

 @media screen and (max-width: 768px) {
   .list-table{
     margin: 0px auto;
     width: 680px;
   }
   .user-show{
     text-align: center;
     margin: 0 80px;
   }
}
 @media screen and (max-width: 425px) {
  .user-table{
     width: 120%;
     margin: 0 auto;
   }
   .list-table{
     width: 120%;
    margin: 0 auto;
   }
   .user-button{
     width: 120%;
     margin: 0 auto;
   }
   .user-show{
     text-align: center;
     width: 120%;
     margin: 0 auto;
   }
   .edit-user{
     margin: 10px 120px;
   }
   .unsubscribe-box{
    margin: 70px;
    text-align: none;
}
}
 @media screen and (max-width: 375px) {
   .edit-user{
     margin: 10px 100px;
   }
}
 @media screen and (max-width: 320px) {
  .user-table{
     margin-left: 20px;
   }
   .list-table{
     margin-left: 20px;
   }
   .user-button{
     margin: 0px auto;
   }
   .user-show{
     text-align: center;
     margin: 0px;
   }
   .edit-user{
     margin: 10px 80px;
   }
}